.admin-card {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  width: 300px;
  margin-top: 80px;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(255, 196, 0);
  box-shadow: 10px 10px 10px rgb(179, 174, 174);
}
.client-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.orders {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.accueil-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/*********/
/*.card {
  text-align: center;
  width: 300px;
  margin-left: 50px;
  margin-top: 50px;
  border-radius: 20px;
  background-image: url(https://m.media-amazon.com/images/I/51-k5VJvghL.jpg);
}*/
.commande {
  background-color: rgb(238, 217, 25);
  width: 100px;
  margin-left: 100px;
  border-radius: 5px;
}
.card-title {
  color: rgb(255, 153, 0);
}
.container-fluid {
  border-bottom: 1px solid lightgray;
  width: 100%;
  height: 100px;
  display: flex;
}
.butt {
  background-color: rgb(255, 153, 0);
}
.welcome {
  color: rgb(255, 153, 0);
}
.commands {
  background-color: rgb(226, 226, 98);
  height: 100%;
}
.input {
  border-radius: 5px;
  background-color: rgb(226, 226, 98);
}
.but {
  background-color: rgb(255, 187, 0);
  border-radius: 10px;
  margin-bottom: 40px;
  width: 100px;
  margin-left: 20px;
}
.logo img {
  width: 170px;
  height: 170px;
  margin-top: -45px;
  margin-left: 15px;
}
.buts {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.header {
  background-color: rgb(206, 149, 26);
}
.body {
  background-image: url(https://m.media-amazon.com/images/I/51-k5VJvghL.jpg);
}
.commands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.butEdit {
  border-radius: 10px;
}
.butDel {
  background-color: transparent;
  width: 50px;
  margin-left: 120px;
  border-radius: 10px;
}
input {
  margin-top: -20px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -25px;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 80px;
}
